{% extends('base.html.twig') %}
{% block body %}
    <article>
        <h1> {{ noticia.titulo }} </h1>
        <p> {{ noticia.resumo }} </p>
        <img src="{{ asset('uploads/imagens/' ~ noticia.imagem) }}" alt="Imagem">
        <p> {{ noticia.conteudo }} </p>
    </article>
{% endblock %}