{% extends("base.html.twig")  %}
{% block body %}
    <h1>Login do painel de administração</h1>
    {% if erro %}
        <div>{{ erro.messageKey }}</div>
    {% endif %}
    <form action="{{ path('admin.login') }}" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="_username" value="{{ ultimo_email }}">

        <label for="senha">Senha</label>
        <input type="password" id="senha" name="_password">

        <button type="submit">Enviar</button>
    </form>
{% endblock %}