/* ************************** base *************************** */

:root {
    --primary-black: #252525;
    --primary-white: #fafafa;
    --primary-gray:    #aaa;
    --highlight: #55da1c;
    --limit: #e23555;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    border: 1px solid;
    border-color: var(--priimary-black);
    padding: 6px 4px;
}

button[type="submit"] {
    display: block;
    margin: 15px 0;
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 5px 20px;
    border: none;
}

textarea {
    border: 1px solid;
    border-color: var(--primary-black);
    padding: 6px 4px;
    width: 245px;
    height: 80px;
}

/******************************* header ****************************/

header.header {
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 10px 5px;
}

.header ul li {
    display: inline-block;
}

.header ul li a {
    color: var(--primary-white);
    padding: 10px 5px;
    margin-right: 5px;
    text-decoration: none;
}

.header ul li a:hover {
    background-color: var(--primary-gray);
    transition: 0.3s;
}

/***************************** main body **************************/

.main {
    margin-top: 20px;
}

img {
    width: 100%;
    margin: 10px auto;
    display: block;
}

/****************************** noticias ***************************/

.noticia {
    padding: 10px 15px;
    border: 1px solid;
    border-color: var(--primary-black);
    margin: 10px 0;
}

.destaque {
    background-color: var(--highlight);
    padding: 5px 3px;
    width: 80px;
    border-radius: 4px;
    text-align: center;
}

.limite-destaques, .noticia-sucesso {
    padding: 10px 5px;
    text-align: center;
    font-size: 1.3em;
    background-color: var(--limit);
    color: var(--primary-white);
    margin-bottom: 10px;
}

.noticia-sucesso {
    background-color: var(--highlight);
    color: var(--primary-black);
}